<div>
    {% if messages %}
        <div id="message" class="container">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
                    <b><span style="font-weight: bold;">{% if message.tags == 'error' %}Error: {% endif %}</span>
                    {{ message }}</b>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>