{% extends "partials/dashboard_base.html" %}
{% load static %}
{% load humanize  %}
{% block content %}

    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            
                    <div class="col-xl-4 col-lg-5">
                        <div class="side-items">
                            <div class="single-item">
                                <div class="section-text d-flex align-items-center justify-content-between">
                                    <h6>Linked Payment system</h6>
                                    <div class="right-side">
                                        <div class="dropdown-area">
                                            <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{% static 'assets1/images/icon/option.png' %}" alt="icon">
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">               
                                    {% for c in credit_card %}
                                        <a href="{% url 'core:credit_card_detail' c.credit_card_id %}">
                                                <div class="card__main" style="height: 230px; width: 400px;">
                                                    <div class="{% if c.card_type == 'rupay' %}Front_card{% endif %}    {% if c.card_type == 'master' %}masterCard{% endif %}    {% if c.card_type == 'visa' %}visaCard{% endif %}">
                                                    <div class="top_card"  style="padding: 15px;">
                                                        <span class="visa">{{c.card_type|upper}}  <small style="font-weight: lighter; font-size:11px" class="{% if c.card_tier == 'classic' %}classic_card{% endif %}    {% if c.card_type == 'gold' %}gold_card{% endif %}    {% if c.card_type == 'platinum' %}platinum_card{% endif %}   {% if c.card_type == 'signature' %}signature_card{% endif %}  {% if c.card_type == 'infinite' %}infinite_card{% endif %}">{{c.card_tier|upper}}</small> </span>  
                                                        <div class="logo">
                                                            <img src="{% static 'assets1/images/easypay_logo.png' %}" alt="logo">
                                                            <div class="image-container" style="display: flex;">
                                                                <img src="{% static 'assets1/images/icon/chip.png' %}"  alt="" style="width: 40px; height: 35px; margin-left: 75px; margin-top: 25px;">  
                                                                <img src="{% static 'assets1/images/icon/sigmal_icon.png' %}"  alt="" style="width: 18px; height: 28px; margin-left: 3px;  margin-top: 28px;">    
                                                            </div>                                                             
                                                        </div>
                                                    </div>
                                                    <div class="middle_card">
                                                    </div>
                                                    <div class="bottom_card">
                                                        <div class="card_info">
                                                            <div class="card_holder_name">₹ {{c.amount|intcomma }} </div>                                  
                                                            <div class="card_number">{{c.format_card_number}}</div>
                                                            <div class="card_holder_name">{{c.name}}</div>
                                                            <div>
                                                                {% if c.card_status == True %}
                                                                <span style="color: rgb(4, 203, 4); font-weight: bolder;">Active</span>
                                                                {% else %}
                                                                <span style="color: #fc0034; font-weight: bold;">In-Active</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="card_info">
                                                        <div class="card_holder_info" style="margin-top: 80px;">
                                                            <span class="expire_month" >{{c.month}}</span>
                                                            <span class="slash">/</span>
                                                            <span class="expire_year">{{c.year_in_two_digits}}</span>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="back_card">
                                                    <div class="top_card">
                                                        <span class="black_strip"></span>
                                                        <div class="cvc_strip">
                                                        <span class="cvc_number">{{c.cvv}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="bottom_card">
                                                        <div class="flex">
                                                        <span class="sticker"></span>
                                                        <div class="logo1">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                    
                                    <div class="col-4">
                                        <div class="single-card">
                                            <button type="button" class="reg w-100" data-bs-toggle="modal" data-bs-target="#addcardMod">
                                                <img src="{% static 'assets1/images/add-new.png' %}" alt="image" class="w-100">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section end -->


    {% endblock content %}
